/* globals.css */
@import "tailwindcss";

@layer base {

  /* Tema claro (padrão) */
  :root {
    --bg-main: #f4f4f5;
    /* zinc-100 */
    --bg-surface: #e4e4e7;
    /* zinc-200 */
    --bg-surface-hover: #d4d4d8;
    /* zinc-300 */
    --border-subtle: #d4d4d8;
    --text-primary: #09090b;
    /* zinc-950 */
    --text-secondary: #52525b;
    /* zinc-600 */
    --accent-purple: #8b5cf6;
    --accent-purple-dark: #7c3aed;
    color-scheme: light;
  }

  /* Tema escuro (quando a classe .dark estiver presente) */
  .dark {
    --bg-main: #09090b;
    /* zinc-950 */
    --bg-surface: #18181b;
    /* zinc-900 */
    --bg-surface-hover: #27272a;
    /* zinc-800 */
    --border-subtle: #27272a;
    --text-primary: #fafafa;
    /* zinc-50 */
    --text-secondary: #a1a1aa;
    /* zinc-400 */
    --accent-purple: #8b5cf6;
    --accent-purple-dark: #7c3aed;
    color-scheme: dark;
  }
}

@theme {
  --color-bgMain: var(--bg-main);
  --color-bgSurface: var(--bg-surface);
  --color-bgSurfaceHover: var(--bg-surface-hover);
  --color-borderSubtle: var(--border-subtle);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
  --color-accentPurple: var(--accent-purple);
  --color-accentPurpleDark: var(--accent-purple-dark);
}